<div class="container" *ngIf="currentUser">
  <header class="jumbotron">
    <h3>
      <img src="https://p1.hiclipart.com/preview/811/995/633/s.jpg" width="100px" height="100px">
      <strong>{{ currentUser.username }}</strong> 
    </h3>
    <button class="btn btn-primary" (click)="logout()">Logout</button>
  </header>
  
  <div class="friendlist-container">
    <h4>Friend List</h4>
    <ul>
      <li *ngFor="let friend of friends">{{ friend }}</li>
    </ul>
  </div>

  <div class="bookmarks-container">
    <h4>Bookmarks</h4>
    <ul>
      <li *ngFor="let bookmark of bookmarks">{{ bookmark }}</li>
    </ul>
  </div>

  <div class="favorite-container">
    <h4>Favorite</h4>
    <ul>
      <li *ngFor="let favorite of favorites">{{ favorite }}</li>
    </ul>
  </div>
  
</div>
<p *ngIf="!currentUser">Please login.</p>
