.container {
    max-width: 800px; /* Increased max-width */
    margin: 0 auto;
    padding: 30px;
}

.header-container {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Increased padding */
    border-radius: 15px; /* Increased border radius */
    text-align: center;
}

.genre-container {
    margin-top: 20px; /* Increased margin-top */
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 60px; /* Increased padding */
    border-radius: 5px; /* Increased border radius */
    text-align: center;
}

.genre-container a {
    display: inline-block;
    width: calc(16% - 12px); /* Increased link width */
    margin: 20px; /* Increased margin */
    padding: 13px; /* Increased padding */
    background-color: #f0f0f0;
    border-radius: 10px; /* Adjusted border radius */
    color: #333333;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 16px; /* Increased font size */
}

.genre-container a:hover {
    background-color: #007bff;
    color: #ffffff;
}