<div class="anime-details-container">
    <h2>Anime Details</h2>
    <div *ngIf="anime">
      <div class="anime-header">
        <img [src]="anime.image" alt="{{ anime.title }}" />
        <h3>{{ anime.title }}</h3>
      </div>
      <p>{{ anime.description }}</p>
      <div class="additional-details">
        <p><strong>Genre:</strong> {{ anime.genre }}</p>
        <p><strong>Release Date:</strong> {{ anime.releaseDate }}</p>
        <p><strong>Rating:</strong> {{ anime.rating }}/10</p>
        <!-- Add more details as needed -->
      </div>
    </div>
    <div *ngIf="!anime">
      <p>Loading anime details...</p>
    </div>
  </div>