<div class="News-container">
    <article class="News-article">
        <h2 class="News-title">Latest News</h2>
        <div class="News-content">
           
            <div class="section-container">
                <img src="assets/img/suzume.jpeg" alt="Image 1" class="section-image">
                <div class="section-text">
                    <h3 class="section-title">Suzume’s earnings have concluded in its impressive theatrical run in Japan</h3>
                    <p class="section-info">Following its conclusion in Japanese theatres on Saturday, Suzume no Tojimari achieved remarkable success, accumulating an estimated final box office revenue of 14.79 billion yen (equivalent to approximately $105.3 million USD) and selling 11.15 million tickets.
                        Impressively, the film has surpassed the lifetime Japanese box office earnings of Makoto Shinkai’s previous work, Weathering With You (Tenki no Ko), which amounted to 14.23 billion yen (around $101 million USD in current conversion). As a result, Suzume no Tojimari now holds the prestigious title of being the 14th highest-grossing film in Japan and the eighth highest-grossing anime film in Japan.</p>
                </div>
            </div>
            <div class="separator"></div>

            
            <div class="section-container">
                <img src="assets/img/usop.jpeg" alt="Image 2" class="section-image">

                <div class="section-text">
                    <h3 class="section-title">Usop the savior of toy island</h3>
                    <p class="section-info"> His current bounty is 200,000,000 Berries, a significant leap from his original 30,000,000 Berries. This increase is due to his role as the “God” who saved all the toy slaves in Doflamingo’s underground trade The Raid on Onigashima was a large-scale invasion and battle that took place on the island of Onigashima in Wano Country during that year's Fire Festival. The invading forces were the Ninja-Pirate-Mink-Samurai Alliance, with the objective of defeating the Beasts Pirates, led by Kaidou of the Four Emperors, and his allies, including the Big Mom Pirates and the incumbent Kurozumi shogunate</p>
                </div>
            </div>
            <div class="separator"></div>
           
            <div class="section-container">
                <img src="assets/img/avatar.jpg" alt="Image 2" class="section-image">

                <div class="section-text">
                    <h3 class="section-title">New avatar live action</h3>
                    <p class="section-info">Long ago, four nations lived together in harmony. Now, the Water Tribe, the Earth Kingdom, the Fire Nation, and the Air Nomads are joining forces to introduce the cast of Avatar: The Last Airbender.

                        Premiering on Feb. 22, the live-action adaptation based on the Nickelodeon animated series will follow Aang, the young Avatar, as he learns to master the four elements (Water, Earth, Fire, and Air) and restore balance to a world threatened by the Fire Nation. The immersive world of Avatar: The Last Airbender is populated with nascent heroes, determined foes, wise mentors, and many more memorable characters.
                        
                        For showrunner Albert Kim, the series is “a chance to showcase Asian and Indigenous characters as living, breathing people. Not just in a cartoon, but in a world that truly exists, very similar to the one we live in.”
                        
                        Before the epic journey unfolds, let’s put some faces to names with a complete guide to the cast and characters starring in this story, starting with the main cast. (You can learn more about Aang’s animal companions Appa and Momo here , and dive into the fiery finale here.)</p>
                </div>
            </div>
            <div class="separator"></div>

            <div class="section-container">
                <img src="assets/img/heron.jpeg" alt="Image 2" class="section-image">

                <div class="section-text">
                    <h3 class="section-title">‘The Boy and the Heron’ becomes first non-American movie to win ‘Best Animated Film’</h3>
                    <p class="section-info">Hayao Miyazaki’s latest movie, The Boy and the Heron, has become the first non-American production to win ‘Best Animated Film’ at the Baftas.

                        The movie, produced by the legendary Studio Ghibli, was Miyazaki’s first film since 2013’s The Wind Rises. It follows a young boy named Mahito, struggling to cope with the recent loss of his mother.
                        
                        However, in typical fantastical Studio Ghibli fashion, Mahito is informed by a heron that his mother is actually alive, with the film charting his otherwordly journey to a world where the living and dead co-exist.
                        
                        The ‘Best Animated Film’ Bafta category was established in 2006, with Happy Feet first winning the prize. Since then, only English-language films have won, with the previous winner being Guillermo del Toro’s Pinocchio.
                        
                        Thus, The Boy and the Heron has made history as the first entirely non-English language feature to win, as well as becoming the first Japanese movie to take home a ‘Best Animated Film’ Bafta.
                        
                        The movie was up against Chicken Run: Dawn of the Nugget, Elemental and Spider-Man: Across the Spider-Verse..</p>
                </div>
            </div>
            <div class="separator"></div>


        </div>
    </article>
</div>
