<div class="container">
    
    <div class="header-container">
        <h2>Community</h2>
    </div>

    <div class="add-container" >
        <button class="add-button" (click)="onCreate()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="plus-icon">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M11 18h2v-5h5v-2h-5V6h-2v5H6v2h5z"/>
            </svg>
        </button>

        <div class="Search-bar-container">
            <div class="Searchbar">
                <input type="text" placeholder="Search anime...">
                <button class="search-button" (click)="routeToNews()" >Reset</button>
            </div>
        </div>
    </div>

    <div class="community-container">
        <h2>Forum</h2>
        <ul>
            <li *ngFor="let thread of threadList">    
              <div class="Thread-info">
                <h3 [routerLink]="'/thread-details/' + thread.title">{{ thread.title }}</h3>
              </div>
            </li>
          </ul>
      </div>


</div>

