<div class="container">
    
    <div class="header-container">
        <h2>Community</h2>
        <ul>
            <!-- <li *ngFor="let post of posts">{{ post }}</li> -->
        </ul>
    </div>
    <div class="friend-list-container">
        <h4>Friend List</h4>
    </div>
    <div class="Search-bar-container">
        <h4>Searchbar</h4>
    </div>
    <div class="community-container">
        <h4>List Post2</h4>
    </div>

    <div class="community1-container">
        <h4>List Post1</h4>
    </div>
    
    <div class="community-container">
        <h4>List Post2</h4>
    </div>

    <div class="community1-container">
        <h4>List Post1</h4>
    </div>
    <div class="community-container">
        <h4>List Post2</h4>
    </div>

    <div class="community1-container">
        <h4>List Post1</h4>
    </div>

    <div class="community-container">
        <h4>List Post2</h4>
    </div>

    <div class="community1-container">
        <h4>List Post1</h4>
    </div>
</div>