.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.header-container{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.Search-bar-container{
    margin-top: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.community-container {
  padding: 20px;
  padding-bottom: 5px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  // background-color: #f9f9f9;
}

.community-container h2 {
  text-align: center;
}
.community-container ul {
  list-style-type: none;
  padding: 0;
}

.community-container li {
  margin-bottom: 20px;
}

.Thread-info {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  transition: box-shadow 0.3s ease;
}

.Thread-info:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Thread-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
  cursor:pointer;
}

.Thread-info h3:hover {
  color: #007bff;
  text-decoration: underline;
}

.add-container{
    margin-top: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.Searchbar {
    position: relative;
    margin: 20px auto;
    max-width: 300px;
    display: flex;
    align-items: center;
  }
  
  .Searchbar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  
  .Searchbar input[type="text"]:hover,
  .Searchbar input[type="text"]:focus {
    border-color: #007bff; 
  }
  .search-button {
    margin-left: 10px;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
.add-button {
    
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 50%; 
  width: 40px;
  height: 40px; /* Adjust size as needed */
  cursor: pointer;
}

.plus-icon {

  fill: #fff; 
  width: 24px; 
  height: 24px;
}

