.thread-details-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    margin-top: 70px;
  }
  
  .thread-details-container h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .thread-details-container h3 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .thread-details-container p {
    margin-bottom: 10px;
    font-size: 16px;
  }