<!-- news.component.html -->
<div class="News-container">
    <article class="News-article">
        <h2 class="News-title">berita terbaru</h2>
        <div class="News-content">
           
            <div class="section-container">
                <img src="assets/img/suzume.jpeg" alt="Image 1" class="section-image">
                <div class="section-text">
                    <h3 class="section-title">Suzume’s medapatkan respon postif dalam penayangnya di jepang</h3>
                    <p class="section-info">Setelah penayangannya berakhir di bioskop Jepang pada hari Sabtu, Suzume no Tojimari mencapai kesuksesan luar biasa, mengumpulkan pendapatan kotor box office final yang diperkirakan sebesar 14,79 miliar yen (setara dengan sekitar $105,3 juta USD) dan berhasil menjual 11,15 juta tiket.
                        Secara mengesankan, film ini berhasil melampaui pendapatan box office seumur hidup karya sebelumnya Makoto Shinkai, Weathering With You (Tenki no Ko), yang mencapai 14,23 miliar yen (sekitar $101 juta USD dalam konversi saat ini). Sebagai hasilnya, Suzume no Tojimari kini memegang gelar bergengsi sebagai film terlaris ke-14 di Jepang dan film anime terlaris kedelapan di Jepang.</p>
                    <div class="button-container">
                        <a href="https://www.animenewsnetwork.com/news/2023-05-29/suzume-film-ends-theatrical-run-in-japan-with-14.79-billion-yen-total-box-office-earnings/.198572" class="button" target="_blank">Sumber berita</a>
                    </div>
                </div>
            </div>
            <div class="separator"></div>

            
            <div class="section-container">
                <img src="assets/img/usop.jpeg" alt="Image 2" class="section-image">
                <div class="section-text">
                    <h3 class="section-title">Usop sang penyelamat pulau mainan</h3>
                    <p class="section-info"> Bounty saat ini adalah 200.000.000 Berry, lonjakan signifikan dari sebelumnya yang hanya 30.000.000 Berry. Peningkatan ini disebabkan oleh perannya sebagai "Dewa" yang menyelamatkan semua budak mainan dalam perdagangan bawah tanah Doflamingo. Penyerangan Onigashima adalah invasi dan pertempuran skala besar yang terjadi di pulau Onigashima di Negara Wano selama Festival Api tahun itu. Pasukan penyerang adalah Aliansi Ninja-Bajak Laut-Mink-Samurai, dengan tujuan untuk mengalahkan Bajak Laut Beast, yang dipimpin oleh Kaidou dari Empat Kaisar, dan sekutunya, termasuk Bajak Laut Big Mom dan pemerintahan Kurozumi yang sedang berkuasa.
                    </p>
                    <div class="button-container">
                        <a href="https://onepiece.fandom.com/wiki/Usopp/History" class="button" target="_blank">Sumber berita</a>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
           
            <div class="section-container">
                <img src="assets/img/avatar.jpg" alt="Image 2" class="section-image">

                <div class="section-text">
                    <h3 class="section-title">live action terbaru dari avatar the last airbender</h3>
                    <p class="section-info">

                        Premiering pada 22 Februari, adaptasi live-action berdasarkan seri animasi Nickelodeon akan mengikuti Aang, Sang Avatar muda, saat dia belajar menguasai empat elemen (Air, Bumi, Api, dan Udara) dan mengembalikan keseimbangan ke dunia yang terancam oleh Bangsa Api. Dunia imersif Avatar: The Last Airbender dihuni oleh pahlawan-pahlawan baru, musuh-musuh yang bertekad, mentor-mentor bijaksana, dan banyak karakter lainnya yang tak terlupakan
                        Sebelum perjalanan epik terungkap, mari kita kenali beberapa wajah dengan panduan lengkap tentang para pemain dan karakter yang memerankan cerita ini, dimulai dengan para pemain utama.dengan melihat Sumber berita</p>
                        <div class="button-container">
                            <a href="https://www.netflix.com/tudum/articles/avatar-the-last-airbender-netflix-cast-announcement" class="button" target="_blank">Sumber berita</a>
                        </div>
                </div>
            </div>
            <div class="separator"></div>

            <div class="section-container">
                <img src="assets/img/heron.jpeg" alt="Image 2" class="section-image">

                <div class="section-text">
                    <h3 class="section-title">
                        'The Boy and the Heron' menjadi film non-Amerika pertama yang memenangkan kategori 'Film Animasi Terbaik'.</h3>
                    <p class="section-info">Film terbaru Hayao Miyazaki, "The Boy and the Heron," telah menjadi produksi non-Amerika pertama yang memenangkan kategori 'Film Animasi Terbaik' di Baftas.
                        Film ini diproduksi oleh Studio Ghibli yang legendaris dan merupakan film pertama Miyazaki sejak "The Wind Rises" pada tahun 2013. Film ini mengikuti kisah seorang anak laki-laki bernama Mahito, yang berjuang mengatasi kehilangan ibunya yang baru-baru ini.                        
                        Namun, dalam gaya fantastis khas Studio Ghibli, Mahito diberitahu oleh seekor burung heron bahwa ibunya sebenarnya masih hidup, dengan film ini menceritakan perjalanan luar biasa Mahito ke dunia di mana orang hidup dan orang mati hidup berdampingan.
                        Kategori 'Film Animasi Terbaik' Bafta didirikan pada tahun 2006, dengan Happy Feet menjadi pemenang pertama. Sejak itu, hanya film berbahasa Inggris yang memenangkan penghargaan tersebut, dengan pemenang sebelumnya adalah "Pinocchio" karya Guillermo del Toro.    
                        Dengan demikian, "The Boy and the Heron" telah membuat sejarah sebagai fitur pertama yang sepenuhnya tidak berbahasa Inggris yang memenangkan penghargaan tersebut, serta menjadi film Jepang pertama yang membawa pulang 'Film Animasi Terbaik' Bafta.
                        
                        Film ini bersaing dengan "Chicken Run: Dawn of the Nugget," "Elemental," dan "Spider-Man: Across the Spider-Verse</p>
                        <div class="button-container">
                            <a href="https://faroutmagazine.co.uk/baftas-the-boy-and-the-heron-becomes-first-non-american-movie-to-win-best-animated-film/#:~:text=Hayao%20Miyazaki%E2%80%99s%20latest%20movie%2C%20The%20Boy%20and%20the,cope%20with%20the%20recent%20loss%20of%20his%20mother." class="button" target="_blank">Sumber berita</a>
                        </div>
                </div>
            </div>
            <div class="separator"></div>


        </div>
    </article>
</div>