<div class="anime-list-container">
<br>
    <h2>Anime List</h2>
  
    <ul class="anime-list">
      <li *ngFor="let anime of animeList">
        <img [src]="anime.main_pic" alt="{{ anime.title }}" />
        <div class="anime-info">
          <h3>{{ anime.title }}</h3>
          <p>{{ anime.genres }}</p>
          <p>Release Date: {{ anime.season }}</p>
          <p>Studio: {{ anime.studios }}</p>
          <a [routerLink]="'/anime-details/' + anime.anime_id">View Details</a>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="animeList.length === 0">
    <p>Loading anime list...</p>
  </div>

  <div class="pagination">
    <button (click)="previousPage()">Previous</button>
    <span>Page {{ currentPage }}</span>
    <button (click)="nextPage()">Next</button>
  </div>

<br>