.home-container {
    max-width: 1200px;
    margin: auto auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: row; /* Set to column for vertical layout */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.container2 {
    position: relative;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    max-width: 400px;
    left: 1400px;
    bottom: 275px;
    // margin: -450px 1455px; //-450px 1455px
    background-color: white;    
}

// .container25 {
//     position:relative;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     padding: 25px;
//     max-width: 400px;
//     left: 600px;
//     bottom: 200px;
//     // margin: -450px 1455px; //-450px 1455px
//     background-color: white;    
// }

.container3 {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100px;
    padding: 180px 60px 840px;
    margin: -450px 215px;
    background-color: white;
    height: 300px; /* Fixed height for the container */
    overflow: hidden; /* Hide overflowing content */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
.container3 img {
    max-width: 550px; /* Set the maximum width */
    max-height: 225px; /* Set the maximum height */
    margin-top: auto; /* Push the image to the bottom */
    margin-bottom: auto;
}


.text1 {
    text-align: center;
}

.text1 h2 {
    margin-bottom: 20px;
}

.anggota {
    text-align: center;
    margin: 20px;
}

.anggota img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.anggota p {
    font-size: 16px;
    color: #333;
}

/* Style for the article container */
.artical-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Style for the headline */
.Headline h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

/* Style for the paragraph */
.Paragraf p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}


/* Style for the paragraph */
.Paragraf1 p {
    color: #555;
    font-size: 16px;
    line-height: 1;
}

.iklan-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: hidden; 
}

.iklan-container img {
    width: 840px; 
    height: 200px;
}

.artical-container1 {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Style for the headline */
.artical-container1 .Headline h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

/* Style for the paragraph */
.artical-container1 .Paragraf p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}




.Picture1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh; /* Set the container height to the full viewport height */
}

/* Style for the images */
.Picture1-container img {
    width: 500px;
    height: 500px;
    margin: 10px; /* Add spacing between images */
}  

