<div class="register-container">
    <h2>Membuat Akun</h2>
    <form action="#" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="password" placeholder="Re-type Password" required>
        <input type="radio" name="gender" value="male" id="male">
        <label for="male">Laki-laki</label>
        <input type="radio" name="gender" value="female" id="female">
        <label for="female">Perempuan</label>
        <p>Tanggal lahir:</p>
        <input type="date" name="birthdate">
        <button type="submit"><a href= "/login">Create an Account</a></button>
        <button type="button" class="cancel"><a href= "/login">Cancel</a></button>
    </form>
</div>
